*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

/* :root{
    --blue : #b5e4fa;
} */


body{
    background-color: #e6f4fc;
}

header{
    position: fixed;
    top :0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6f4fc;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 2rem 5%;
    transition: 0.2s;
    height: 8%;
    width: 100%;
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
}
.group{
    
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.logo{
    display: flex;
    align-items: center;
}

.fisht{
    font-size: 2.8vh;
    color: #709ed0;
    font-weight: bolder;
    margin-right: 20px;
    

}
.logo img{
    width: 60px;
}

header .fisht span{
    color: #fc9aff;
}

header .navbar a{
    font-size: 2.5vh;
    padding: 0 9px;
    color: #709ed0
}

header .navbar a:hover{
    color: #315098;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 2vh;
    color: #0496d9;
    border-radius: .5rem;
    padding: .5 rem 1.5rem;
    cursor: pointer;
    display: none;
}

.banner {
    max-width: 100%;
    height: 600px;
    background-color: #c4e1f6;
    padding: 2rem;
    /* background-color: #8093b9;
    background-image: linear-gradient(0deg,#c4e1f6 50%, #ffffff 100%); */
    /* background-image: linear-gradient(135deg, #ffffff 0%, #c4e1f6 100%); */
        /* text-align: center; */
}

.allban{
    display: flex;
}
.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: start; 
    height: 100%; 
    font-size: 6.5vh;
    margin-left: 3%;

    .pc{
        font-size: 4vh;
        color: #ffffff;

        margin-top: -5px;
    }
}


.picfish img{
    width: 600px;
}

.picfish {
    margin-top: -20px; 
    margin-left: 80px;
}


.container p {
    font-size: 2em;
    color: #709ed0; 
    font-weight: bold;
    margin-top: 30%;
    text-shadow: rgba(123,228,247,0.9) 0px 0px 39px;}

/* .container p {
    font-size: 2em;
    color:#ffffff; 
    font-weight: bold;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
} */

.about{
    width: 100%;
    height: 400px;
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}
.about .project{
    margin-top: 7%;
    font-size: 6vh;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    /* text-decoration: underline; */
    color: #709ed0;
    
}
.picatext{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* กำหนดให้คอลัมน์ยืดหยุ่น */
    width: 100%;
}

.box{
    /* width: 40%; */
    margin-top: 9%;
    display: flex;
    margin-left: 5%;
    justify-content: center; 
    align-items: center; 
    

}

.box .pic {
    width: 80%;
    max-width: 100%; 
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 83px 6px rgba(164,231,252,1);
    -moz-box-shadow: 0px 0px 83px 6px rgba(164,231,252,1);
    box-shadow: 0px 0px 83px 6px rgba(164,231,252,1);}


.abs{
    /* width: 48%; */
    margin-right: 5%;
    justify-content: center; 
    align-items: center; 
}
.abs p{
    
    font-size: 4vh;
    justify-content: start;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    color: #3682ce;
}

.abs .abstext{
    font-size: 2.7vh;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 3%;
    color: #3b9bc7;
    text-shadow: rgba(146, 196, 231, 0.9) 0px 0px 39px;
}



.text{
    padding-top: 30px;
}
.textinput{
    font-size: 4vh;
    margin-left: 5%;
    color: #3682ce;
    position: relative;
    top: 3%; 
}

.ansinput{
    font-size: 2.7vh;
    margin-left: 8%;
    color: #3b9bc7;
    position: relative;
    margin-top: 1%; 
    text-shadow: rgba(146, 196, 231, 0.9) 0px 0px 39px;
}

.textoutput{
    font-size: 4vh;
    margin-left: 5%;
    color: #3682ce;
    position: relative;
    margin-top: 1%;  
}

.ansoutput{
    font-size: 2.7vh;
    margin-left: 8%;
    color: #3b9bc7;
    position: relative;
    margin-top: 1.2%; 
    text-shadow: rgba(146, 196, 231, 0.9) 0px 0px 39px;


}

.dpic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic2 {
    margin-top: 4%;
    width: 70%;
    max-width: 100%; 
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    -webkit-box-shadow:0px 0px 35px 4px rgba(140,247,255,0.47);
    -moz-box-shadow: 0px 0px 35px 4px rgba(140,247,255,0.47);
    box-shadow: 0px 0px 35px 4px rgba(140,247,255,0.47);}
.weblink {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
    margin-top: 2%;
}

.link {
    width: 20%; 
    height: 100px;
    background-color: #ebedd4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; 
    font-size: 2.7vh;

    a{
        color: #dc94b0;
    }

    i{
        font-size: 10vh;
        color: #a59e9e;
    }
    
}

.weblink :hover{
    background-color: #d1e0f3;
}

.vdo{
    background-color: #d5edff;
    width: 100%;
    height: 700px;
    margin-top: 7%;
}

.project2{
    /* margin-top: 7%; */
    font-size: 6vh;
    padding-top: 4%;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    /* text-decoration: underline; */
    color:#709ed0;
    
    
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe {
    display: block; 
    margin: 0 auto; 
    text-align: center; 
    margin-top: 20px;
    -webkit-box-shadow:0px 0px 83px 6px rgba(164,231,252,1);
    -moz-box-shadow: 0px 0px 83px 6px rgba(164,231,252,1);
    box-shadow: 0px 0px 83px 6px rgba(164,231,252,1);}



.project3{
    /* margin-top: 7%; */
    font-size: 6vh;
    padding-top: 4%;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    /* text-decoration: underline; */
    color: #709ed0;
    
}
.allbox{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 2%;
    color:  #dc94b0;
}
.box2{
    width: 320px;
    height: 400px;
    background-color: #ebedd4;
    border-radius: 24px;
    -webkit-box-shadow:0px 0px 35px 4px rgba(140,247,255,0.47);
    -moz-box-shadow: 0px 0px 35px 4px rgba(140,247,255,0.47);
    box-shadow: 0px 0px 35px 4px rgba(140,247,255,0.47);}
.allmem{
    width: 100%;
    height: 700px;
    background-color: #e6f4fc;
    
}
.dpic2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.mempic{
    margin-top: 4%;
    width: 70%;
    max-width: 100%; /* จำกัดไม่ให้เกินขนาดกล่อง */
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    
}

.namelast{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 15px;

    .name{
        font-size: 3vh;
    }

    .id{
        font-size: 2.5vh;
    }
}
@media (max-width: 600px) {
    .link {
        width: 80%; /* ปรับขนาดให้กว้างขึ้นสำหรับหน้าจอเล็ก */
    }

    .weblink {
        flex-direction: column; /* เปลี่ยนให้เรียงในแนวตั้ง */
        align-items: center; /* จัดให้อยู่กลางแนวตั้ง */
    }

    .pic2 {
        width: 90%; /* ปรับขนาดให้กว้างขึ้นสำหรับหน้าจอเล็ก */
        max-width: 100%; /* ยังคงจำกัดไม่ให้เกินขนาดกล่อง */
    }
    header .navbar {
        display: none; /* ซ่อน Navbar */
    }

    header .fa-bars {
        display: block; /* แสดงไอคอน menu */
    }
    header .fisht {
        margin-right: 140px; /* ลดมาร์จิ้นด้านขวาในหน้าจอเล็ก */
    }

    .iframe {
        max-width: 100%; /* ใช้ความกว้าง 100% สำหรับหน้าจอเล็ก */
    }
    .picfish {
        display: none; /* ซ่อนภาพเมื่อหน้าจอเล็กกว่า 600px */
    }

}
